.about {
	margin-left: 150px;
	height: 43px;
	color: #808080;
	font-family: Roboto, arial, sans-serif;
	font-size: 13px;
	line-height: 43px;
	padding-left: 16px;
}

@media only screen and (max-width: 600px) {
	.about {
		display: none;
	}
	.result {
		box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
		border-radius: 10px;
		margin: 5px;
		padding: 5px;
	}
}