.CategoriesBox {
	margin: 0px 0px 0px 157px;
	color: rgb(119, 119, 119);
	font-family: arial, sans-serif;
	font-size: 13px;
}

.categoriesList {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.category {
	display: inline-block;
	padding: 0px 15px 10px 15px;
	cursor: pointer;
	border-bottom: solid 3px rgb(250, 250, 250, 1);
}

.active {
	color: #1A73E8 !important;
	border-bottom-color: #1A73E8 !important;
}

.categories:hover {
	color: #222;
}

@media only screen and (max-width: 600px) {
	.CategoriesBox {
		margin: 5px;
		text-align: left;
	}
}