.ResultsBox {
	margin: 0px 30px 0px 150px;
	display: inline-block;
	width: 632px;
	font-family: Roboto, arial, sans-serif;
	font-size: 13px;
	padding-left: 16px;
}

.resultTitle {
	margin-bottom: 3px;
	font-size: 18px;
	font-weight: 400;
	color: rgb(26, 13, 171);
}

.resultTitle > a {
	color: rgb(26, 13, 171);
}

.resultUrl {
	color: rgb(0, 102, 33);
	font-size: 14px;
}

.resultUrl > cite {
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

.resultDescription {
	color: rgb(84, 84, 84);
	font-size: 13px;
}

.resultDescription > span {
	line-height: 18.2px;
}

.link {
	margin: 5px 10px 0px 0px;
	display: inline-block;
	color: rgb(26, 13, 171);
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}