.rightRail {
	display: inline-block;
	vertical-align: top;
	width: 366px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.rightRailTitle {
	padding: 12px 15px;
	font-family: Roboto, arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
}

.rightRailImage > img{
	width: 366px;
}

.mapContainer {
	width: 366px;
	height: 366px;
}

.mapContainer > div {
	position: relative !important;
}

@media only screen and (max-width: 600px) {
	.rightRail {
		display: none;
	}
}