.HomePage_InputFieldBox, .SearchResultsPage_InputFieldBox {
	width: 584px;
	height: 44px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.HomePage_InputFieldBox {
	margin: 30px auto 0px auto;
}

.SearchResultsPage_InputFieldBox {
	margin-left: 20px;
	background-color: #fff;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

form {
	display: initial;
}

.HomePage_input, .SearchResultsPage_input {
	width: 90%;
	margin-left: 10px;
	float: left;
	border: none;
	position: relative;
  top: 50%;
	transform: translateY(-50%);
	outline: none;
	height: 34px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.HomePage_InputFieldBox:hover, .SearchResultsPage_InputFieldBox:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.microphone {
	display: inline-block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url(../../../images/microphone.png) 0 0 no-repeat;
	background-size: 24px;
	position: relative;
  top: 50%;
	transform: translateY(-50%);
}

.magnifyingGlass, .magnifyingGlassContainer {
	display: none;
}

@media only screen and (max-width: 950px) {
	.HomePage_InputFieldBox, .SearchResultsPage_InputFieldBox {
		width: 95%;
		border-radius: 10px;
		border: solid 1px rgba(0,0,0,0.2);
		box-shadow: none;
	}

	.SearchResultsPage_InputFieldBox {
		margin: 0px;
	}

	.HomePage_input, .SearchResultsPage_input {
		width: 80%;
	}

	.magnifyingGlassContainer {
		display: inline-block;
		width: 10%;
		float: right;
		background-color: #3a78e7;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 44px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.magnifyingGlass {
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url(../../../images/magnifyingGlass.png);
		background-size: 24px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.microphone {
		display: none;
	}
}