.SearchResultsPage_NavBarBox {
	/* display: flex;
	justify-content: space-between; */
	background-color: #fafafa;
	border-bottom: solid 1px rgb(235, 235, 235);
}

.HomePage_NavBarBox {
	width: 100%;
	padding: 20px 0px;
}

.SearchResultsPage_NavBarBox {
	width: 100%;
	padding-top: 20px;
}

@media only screen and (max-width: 600px) {
	.SearchResultsPage_NavBarBox {
		text-align: center;
	}
}